{% spaceless %}
  <!DOCTYPE html>
  <!-- [if lt IE 7]><html class="ie ie6 lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif] -->
  <!-- [if IE 7]><html class="ie ie7 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif] -->
  <!-- [if IE 8]><html class="ie ie8 lt-ie9" {{ site.language_attributes }}> <![endif] -->
  <!-- [if gt IE 8]><! -->
  <html {{ site.language_attributes }}>
    <!-- <![endif] -->
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta http-equiv="X-UA-Compatible" content="ie=edge" />
      <link rel="icon"
        type="image/png"
        href="{{ theme.link }}/assets/images/favicon/favicon.png" />

      {{ function('wp_head') }}
    </head>
    <body id="wpbody" class="{{ body_class }}">
      {% include 'components/header.twig' %}

      {% block main %}

      {% endblock %}

      {{ function('wp_footer') }}
    </body>
  </html>
{% endspaceless %}
